/* Remove default bullets */
ul, #treeUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#treeUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
li span {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret_folder::before {
  content: "\1F5C0";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down_folder::before {
  content: "\1F5C1";
}


/* Create the caret/arrow with a unicode, and style it */
.caret_item::before {
  content: "\25B7";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down_item::before {
  transform: rotate(90deg);
}


/* Hide the nested list */
.nested_mod {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active_mod {
  display: block;
}
