{% extends '_base.html' %}
{% load i18n %}
{% block title %}
       
<title>{{ title }}</title>

{% endblock title%}

{% block header %}

<h1> {{header}} </h1>

{% endblock header %}

{% block content %}

<div align = 'center'>

</div>

{{content}}
<form method="post" href="{% url 'project_page' %}">
{% csrf_token %}
    <div class="container px-5">
        <div class="row">
            <div class="col-3 p-0 mt-3"></div>
            <div class="col-6 p-0 mt-3">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-9">
                            <div class="d-flex justify-content-start">
                                <div class="btn-group btn-group-smg" role="group" aria-label="Project controls">
                                    <button class="btn btn-success btn-sm"          type="submit" name="action" value="save"            >{% trans 'Save changes' %}</button>
                                    <button class="btn btn-outline-success btn-sm"  type="submit" name="action" value="save_and_finish" >{% trans 'Save changes and finish' %}</button>
                                    <button class="btn btn-danger btn-sm"           type="submit" name="action" value="finish"          >{% trans 'Finish' %}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-end">
                                <div class="btn-group btn-group-smg" role="group" aria-label="Project controls">
                                    <input type="radio" class="btn-check" name="radio-lang" id="radio-lang-all" value="all" autocomplete="off" checked>
                                    <label class="btn btn-outline-success btn-sm" for="radio-lang-all">{% trans 'all' %}</label>     
                    
                                    <input type="radio" class="btn-check" name="radio-lang" id="radio-lang-en" value="en" autocomplete="off">
                                    <label class="btn btn-outline-success btn-sm" for="radio-lang-en">[en]</label>
                                    
                                    <input type="radio" class="btn-check" name="radio-lang" id="radio-lang-uk" value="uk" autocomplete="off">
                                    <label class="btn btn-outline-success btn-sm" for="radio-lang-uk">[uk]</label>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 p-0 mt-3"></div>

        </div>
        <div class="row">
            <div class="col-3 p-0 mt-3"></div>
            <div class="col-6 p-0 mt-3 text-secondary">
    
                {% if messages %}
                <div class="alert alert-success" role="alert">            
                    <ul class="messages m-1">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}        
                

                    {{ project_form.media }}
                    <!-- project form BEGIN -->
                    <fieldset>
                        <legend class="h5 mb-3 fw-normal bg-secondary text-white px-2 py-1">{% trans 'project details' %}{% if not action == None %} ({{ action }}){% endif %}:</legend>
                        <p></p>
                        {% if project_form.error_messages %}
                        {% for error in project_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}    
                        {% endif %} 

                        {% for field in project_form %}
                        
                        {% if field.name == 'description_en' or field.name == 'description_uk' %}
                        <div class="mb-1">
                            <label class="m-2" for="{{field.name}}">{{field.label}}</label>
                            {{field}}
                            {% if field.errors %}
                            <div class="alert alert-danger mt-1">{{ field.errors }}</div>
                            {% endif %}                                        
                        </div>
                        {% else %}                        
                        <div class="form-floating mb-1">
                            {{field}}
                            <label for="{{field.name}}">{{field.label}}</label>
                            {% if field.errors %}
                            <div class="alert alert-danger mt-1">{{ field.errors }}</div>
                            {% endif %}                                        
                        </div>
                        {% endif %}                    

                        {% endfor %}
                    </fieldset>
                    <!-- project form END -->
            
            </div>
            <div class="col-3 p-0 mt-3"></div>
        </div>
    </div>
</form>
<p></p>

{% endblock %}